body {
    background: url(Untitled.png);
    font-family: sans-serif;
    padding: 20px;
}

h1,
h2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
    font-size: 40;
    margin-top: 0;
    margin-bottom: 15;
}
h2 {
    font-size: 30;
}

h1,
h2,
p {
    text-align: center;
}

hr {
    background-color: dodgerblue;
    border-color: dodgerblue;
    height: 2px;
}

.established {
    font-style: italic;
}

.menu {
    width: 80%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 500px;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18;
}

.product {
    text-align: left;
    width: 74%;
}

.price {
    text-align: right;
    width: 24%;
}

.bottom-line {
    margin-top: 25px;
}
